In [1]:
#(1) import necessary library and chect top 5 and random 5 samples
import pandas as pd
df=pd.read_csv("online_sales.csv")
top_5_samples=df.head()
top_5_samples

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [2]:
random_5_samples=df.sample(5)
random_5_samples

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
224193,556508,72819,CUPID DESIGN SCENTED CANDLES,6,6/13/11 10:10,2.55,16342.0,United Kingdom
146572,548993,22807,SET OF 6 T-LIGHTS TOADSTOOLS,72,4/5/11 13:56,2.55,12753.0,Japan
158855,550317,22587,FELTCRAFT HAIRBAND RED AND BLUE,12,4/17/11 11:56,0.85,15172.0,United Kingdom
205822,554839,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,3,5/26/11 17:15,2.95,14056.0,United Kingdom
111629,545797,22898,CHILDRENS APRON APPLES DESIGN,2,3/7/11 12:17,1.95,16225.0,United Kingdom

In [3]:
##(2) check info of the dataframe and write your observation.check datatype and dataset
df=pd.DataFrame(top_5_samples)
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [4]:
df.shape

(5, 8)

In [5]:
#(3) check for null values and report the null values in each coloumn.And drop the rows having null values on it
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of    InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False  >

In [6]:
df.isnull().columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
df.dropna() # drop rows with null values

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [8]:
##(4) check the staistical summary of the dataset
df.describe()

       Quantity  UnitPrice  CustomerID
count  5.000000   5.000000         5.0
mean   6.400000   3.094000     17850.0
std    0.894427   0.411437         0.0
min    6.000000   2.550000     17850.0
25%    6.000000   2.750000     17850.0
50%    6.000000   3.390000     17850.0
75%    6.000000   3.390000     17850.0
max    8.000000   3.390000     17850.0

In [9]:
##(5) Drop the instances having quantity less than zero
df=df[df['Quantity']>=0]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [12]:
##(6) check for unique values of the country and report the country of higher number of instances
unique_countries=df['Country'].unique()
unique_countries

array(['United Kingdom'], dtype=object)

In [15]:
higher_instances=df.value_counts("Country")
higher_instances

Country
United Kingdom    5
dtype: int64

In [20]:
##(7) Create a new column in the name of sales.The total sales is defined as quantity*unitprce
sales_data={'Quantity':[6,6,8,6,6],'UnitPrice':[2.55,3.39,2.75,3.39,3.39]}
df=pd.DataFrame(sales_data)
df['sales']=df('Quantity')*df('UnitPrice')
df

TypeError: 'DataFrame' object is not callable